.widget {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }
}

.aside-card {

    h3 {
        margin-bottom: 16px;
    }
}

.gallery-list{
    ul{

        display: flex;
        padding: 0;
        flex-wrap: wrap;
        
        li{
           width: 33.3%;

            a{
                display: block;

                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}



.aside-article {
    display: flex;
    margin-bottom: 20px;

    &:last-child{
        margin-bottom: 0;
    }

    figure {
        width: 100px;
        height: 100px;
        margin-right: 22px;
        flex: none;

        @include tab-landscape {
            width: 80px;
            height: 80px;
            margin-right: 15px;
        }

        @include mobile-lg {
            width: 80px;
            margin-right: 15px;
        }

        a {
            display: block;
        }


    }

    .aside-article-content {

        h5 {
            font-size: 20px;
            line-height: 28px;
            font-family: $primary-font;
            font-weight: bold;
            color: #FFFFFF;            
            letter-spacing: -0.02em;            
            margin-top: -3px;
            margin-bottom: 12px;

            @include tab-landscape{
                font-size: 16px;
                line-height: 24px;
            }
            
            a {
                display: block;
                color: #414449;  
                transition: 0.3s all;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }

    .article-info{
        ul{
            margin: 0;
            padding: 0;

            li{
                display: inline-flex;
                align-items: center;
                margin-right: 10px;

                a{
                    font-size: 14px;
                    line-height: 20px;
                    font-family: $primary-font;
                    color: $primary-color-dark;
                }

                &::before{
                    content: "";
                    height: 13px;
                    width: 13px;
                    flex: none;
                    margin-right: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-color: #2E2D2D;
                }

                &.article-calendar-icon{
                    &::before{
                        background-image: url(../images/article-calendar-icon.svg);
                    }
                }

                &.article-user-icon{
                    &::before{
                        background-image: url(../images/article-user-icon.svg);
                    }
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

}


.categories-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -12px;

    a {
        font-size: 11px;
        line-height: 34px;
        font-weight: bold;
        font-family: $primary-font;
        color: $content-color;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        background: $light-bg;
        padding: 0 12px;
        margin: 0 8px 12px 0;
        transition: 0.3s all;

        &:hover,
        &.active {
            background: $primary-color;
            color: white;
        }
    }
}


// ========================== Aside

