.sec-head {
  margin-bottom: 30px;
}

.ticket-list-tab {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  li {
    > div {
      font-size: 18px;
      font-weight: 500;
      color: $heading-color;
      padding: 10px 20px;
      border: 1px solid $border-color;
      border-radius: 8px;
      background: $input-bg;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active,
      &:hover {
        border-color: $primary-color-dark;
        background: $primary-color-dark;
        color: #fff;
      }
    }
  }
}

.stat-box-wpr {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.stat-box {
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 20px 30px;
  min-width: 23%;
}

.offcanvas {
  max-width: 800px;
  width: 100% !important;

  .offcanvas-title {
    p {
      display: inline-block;
      font-size: inherit;
    }
  }

  .offcanvas-header {
    border-bottom: 1px solid $border-color;
  }

  .offcanvas-footer {
    border-top: 1px solid $border-color;
  }
  .offcanvas-header,
  .offcanvas-footer {
    padding: 20px;
  }

  .offcanvas-body {
    padding: 30px 20px;
  }
}

.ticket-details-view {
  .row {
    --bs-gutter-y: 30px;
  }
}

.file-upload-wpr {
  .file-upload-preview {
    margin-top: 10px;
    img {
      max-width: 300px;
    }
  }
}
