.default-form {
    padding: 34px;
    background: #f7f8f9;
    border-radius: 12px;
  .input-wpr {
    margin-bottom: 30px;
  }
}


.auth-form-wpr {
    max-width: 500px;
    margin: 0 auto;
}