@import "_variable.scss";
@import "_mixins.scss";
@import "_default.scss";
@import "_input.scss";  
@import "_header.scss";    
@import "_input.scss";
@import "_footer.scss";
@import "_single-article.scss";
@import "_login.scss";
@import "_components.scss"; 
@import "_table.scss";


.dashboard {
    justify-content: space-between;
}